<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="TestLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="D:\Logs\QBWC\QBWC.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <filter type="log4net.Filter.LevelRangeFilter">
                <acceptOnMatch value="true" />
                <levelMin value="INFO" />
                <levelMax value="FATAL" />
            </filter>
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%newline%date [%thread] %-5level - %message" />
            </layout>
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="TestLogFileAppender" />
        </root>
    </log4net>
    <appSettings>
        <add key="credentials" value="username_*_password_~_username1_*_password"/>
        <add key="FMIntegrationCredentials" value="P@ss1"/>
        <add key="FMAPIUrl" value="https://tpi.fmsandbox.staging.gcommerceinc.com/erp/gettracking/invoices"/>
        <add key="webpages:Enabled" value="false"/>
        <add key="RecordsToSendInBatch" value="1"/>
    </appSettings>
    <system.web>
        <compilation defaultLanguage="c#" debug="true" targetFramework="4.6.1">
            <compilers>
                <compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE"/>
            </compilers>
        </compilation>
        <customErrors mode="Off"/>
        <authentication mode="Windows"/>
        <authorization>
            <allow users="*"/>
        </authorization>
        <sessionState mode="InProc" cookieless="false" timeout="20"/>
        <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    </system.web>
</configuration>